<p id="notice"><%= notice %></p>




   <div id="calendar">
<%= calendar_for(@posts) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
  <%= t.day(:day_method => :created_at) do |day, tasks| %>
    <%= day.day %>
    <% tasks.each do |task| %>
      <%= h(task.title) %>
    <% end %>
  <% end %>
<% end %>










</div>







